.App {
  width           : 500px;
  margin          : 0 auto;
  padding         : 20px;
  background-color: #f5f5f5;
  border          : 1px solid #e3e3e3;
}

.click {
  height          : 30px;
  line-height     : 30px;
  padding         : 8px;
  border-bottom   : 1px solid #ddd;
  text-decoration : line-through;
  cursor          : pointer;
  background-color: #dff0d8;
}

.unClick {
  height       : 30px;
  line-height  : 30px;
  border-bottom: 1px solid #ddd;
  padding      : 8px;
  cursor       : pointer;
  transition   : all .15s;
}

.unClick:hover {
  background-color: #dff0d8;
}

.num {
  height       : 30px;
  line-height  : 30px;
  border-radius: 4px;
  padding      : 8px;
  cursor       : pointer;
}

.list {
  border          : 1px solid #ddd;
  border-radius   : 4px;
  background-color: #fff;
  margin-bottom   : 20px;
}

.enter {
  float        : right;
  height       : 34px;
  width        : 80%;
  border       : 1px solid #ccc;
  border-radius: 4px;
  padding      : 6px 12px;
  box-sizing   : border-box;
  transition   : all .15s;
}

.enter:hover {
  box-shadow: 0px 0px 2px #337ab7;
}

.save {
  float           : right;
  color           : #fff;
  height          : 34px;
  width           : 80px;
  line-height     : 34px;
  font-size       : 14px;
  font-weight     : 500;
  letter-spacing  : 5px;
  padding         : 0;
  box-sizing      : border-box;
  border          : 1px solid #337ab7;
  border-radius   : 4px;
  background-color: #337ab7;
  zoom            : 1;
}

.App:after {
  display   : block;
  content   : '';
  clear     : both;
  visibility: hidden;
  height    : 0;
}